@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css';

body {
    background-color: #d9d9d9;
}

.container {
    // padding-top: 20px;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

.dark-bg {
    background-color: #a3a3a3;
}

.bg-green {
    background-color: green;
}

.center-content {
    display: flex;
    justify-content: center;
}

.hide {
    display: none;
}

td {
    border: 1px solid black;
    width: 240px;
    overflow: hidden;
}
